@import "tailwindcss";

@theme {
  --font-orbitron: 'Orbitron', sans-serif;
  --font-russo: 'Russo One', sans-serif;
  --font-share: 'Share Tech Mono', monospace;
  --font-merriweather: 'Merriweather', serif;
}

@layer base {
  body {
    @apply font-merriweather bg-[#0a0a0a] text-stone-300;
  }
}